.myreview-item {
  width: 900px;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myreview-store-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.myreview-rating {
  font-size: 16px;
  color: #333;
}

.myreview-rating .rating-number {
  color: #ff8c00;
  font-weight: bold;
}

.myreview-content {
  margin-top: 20px;
  background-color: #ffffff75;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  color: #666;
  border: 1px solid #cccccc;
  line-height: 1.5;
}
