.order-container {
  display: flex;
  background-color: #FEFFD2;
}

.order_sidebar {
  width: 280px;
  background-color: #FEFFD2;
  padding: 20px;
  height: 100vh;
}

.order_sidebar ul {
  list-style-type: none;
  padding: 0;
  border-right: 1px solid #FFBF78;
}

.order_sidebar ul li {
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
}

.order_sidebar ul li:hover {
  background-color: #FFBF78;
  border-radius: 20px;
}

.order_sidebar ul li.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.order_sidebar ul:hover li {
  text-decoration: none;
}

.order-content-area {
  flex: 1;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: flex-start; /* 시작 위치에서 정렬 */
  align-items: center;
  padding-top: 60px;
}

.order-rectangle {
  width: 800px;
  height: 130px;
  background-color: #EAE1D3;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.order-circle {
  width: 70px;
  height: 70px;
  background-color: #E5E5E5;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hand-shake 2s infinite;
}

@keyframes hand-shake {
	0% {
		transform: rotate(-5deg);		
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}



.order-text {
  font-size: 16px;
  color: #333;
  margin-left: 100px;
}

.order-title {
  font-size: 20px;
  color :#333;
  margin-top: 70px;
}