.mypage-order-container {
  display: flex;
  background-color: #FEFFD2;
  height: 100vh;
  flex-direction: row;
}

.mypage-order_sidebar {
  width: 280px;
  background-color: #FEFFD2;
  padding: 20px;
  height: 100vh;
}

.mypage-order_sidebar ul {
  list-style-type: none;
  padding: 0;
  border-right: 1px solid #FFBF78;
  margin: 0;
}

.mypage-order_sidebar ul li {
  width: 170px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  position: relative;
  text-align: center;
}

.mypage-order_sidebar ul li:hover {
  background-color: #FFEEA9;
  border-radius: 20px;
}

.mypage-order_sidebar ul li.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.mypage-order_sidebar ul:hover li {
  text-decoration: none;
}

.mypage-order-content-area {
  flex: 1;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: flex-start; /* 시작 위치에서 정렬 */
  align-items: center;
  padding-top: 60px;
  height: 100vh;
}

.mypage-order-rectangle {
  width: 800px;
  height: 130px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.mypage-order-circle {
  width: 70px;
  height: 70px;
  background-color: #E5E5E5;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hand-shake 2s infinite;
}

@keyframes hand-shake {
	0% {
		transform: rotate(-5deg);		
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}



.mypage-order-text {
  font-size: 16px;
  color: #333;
  margin-left: 100px;
}

.mypage-order-title {
  font-size: 20px;
  color :#333;
  margin-top: 70px;
}